/* App */

body {
    background-color: #f4f4f4;
}

/* End app */

#runner-info {
    text-align: center;
}

#training-log {
    background-color: #e6e6e6;
}

.day-name {
    text-align: center;
}

.full-date {
    text-align: center;
}

.workout-description {
    background-color: #ddd;
    margin: 14px 0 14px 0;
    padding: 3px;
}

.workout-metric {
    margin: 3px 0 3px 0;
}

