/* App */

body {
    background-color: #eee;
}

/* End app */

#runner-info {
    text-align: center;
}

#week-changer {
    text-align: center;
}

#previous-week {
    font-size: 400%;
    padding: 0 125px 0 125px;
}

#next-week {
    font-size: 400%;
    padding: 0 125px 0 125px;
}

.mpw {
    margin-top: 50px;
    text-align: center
}

.day-name {
    text-align: center;
}

.full-date {
    text-align: center;
}

.workout-description {
    margin: 14px 0 14px 0;
    padding: 3px;
}

.workout-metric {
    margin: 3px 0 3px 0;
}

.training-day {
    min-height: 76px;
}